/*
COLORS TO USE:

DARK :
TEXT = #e8ebfc

BACKGROUND = #380a0a
SECOND BACKGROUND = #791616

PRIMARY = #ba0000

SECONDARY = #ae1c1c

ACCENT = #ffbb00


LIGHT : (not so cool)
TEXT = #030617

BACKGROUND = #f5c7c7

PRIMARY = #ff4747

SECONDARY = #e25050

ACCENT = #ffbb00

*/

:root {
    --text: #e8ebfc;
    --background: #380a0a;
    --second-background: #791616;
    --primary: #ba0000;
    --button:#dd5955;
    --button-hover:#ff7f7a;
    --secondary: #ae1c1c;
    --accent: #ffbb00;
}