/*
COLORS TO USE:

DARK :
TEXT = #e8ebfc

BACKGROUND = #050722
SECOND BACKGROUND = #0f1565

PRIMARY = #8a90ed

SECONDARY = #8c155a

ACCENT = #e0364a


LIGHT :
TEXT = #030617

BACKGROUND = #dbddfa

PRIMARY = #121873

SECONDARY = #ea71b7

ACCENT = #c71f33

*/

:root {
    --text: #e8ebfc;
    --background: #050722;
    --second-background: #0f1565;
    --primary: #8a90ed;
    --button:#8a90ed;
    --button-hover: #8692f8;
    --secondary: #8c155a;
    --accent: #e0364a;
}