{% extends 'main_base.html' %}

{% block content %}

    {% load static %}
    <div class="username">
        <p id="error", style="color:red"></p>
        <a id="sharelink" style="all:unset; display:block;" class="sharelink"></a>

        <p>Cole aqui o link do seu perfil:</p>
        <input type="text", id="usernameEntry", style="width: 70%;">
    </div>
    
    <div class="questions">
        <p>Quantas Perguntas?</p>
        <input class="inline" id="questionSlider" type="range" min="0" max="10" value="5">
        <p class="inline" id="sliderOutput">0</p>
    </div>
    
    <img id="loading" class="loading" src="{% static 'img/loading.gif' %}">
    <button id="enviar" class="enviar">Enviar Informações</button>
    
    <hr style="border: solid black 1px; margin-top: 30px;">
    <div class="ajuda">
        <p style="font-size: 18px;">Aviso: Seu perfil precisa ter os seguintes requerimentos:
            <ul>
                <li>Ter TODOS seus dados públicos. </li>
                <li>Gasto mais de 5 doláres na steam; </li>
                <li>Ter comprado de 4 jogos; </li>
            </ul>
        </div>
    </div>
    
    <script type="module" src="{% static 'js/create_quiz.js' %}"></script>

{% endblock %}