<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um site para gerar quizes baseado no seu perfil da Steam, LastFM ou Spotify!">
    <meta name="keywords" content="steam spotify lastFM quiz auto">
    <meta name="author" content="CaioEmPessoa">

    {% load static %}
    <link id="style" rel="stylesheet" href="{% static style_path %}">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/5829/5829298.png">

    <script> 
        const DEBUG = "{{ debug }}" == "True" ? true : false
    </script>

    <!-- READ_QUIZ MAIN SCRIPT -->
    <script type="module" src="{% static 'js/read_quiz.js' %}"></script>


    <title>PersonaQuiz !</title>
</head>

<body>
    <div class="header">
        <div class="left">
            <a class="persona-logo" href="/">
                <img src="https://cdn-icons-png.flaticon.com/512/5829/5829298.png">
                <h1 class="normal-text">PersonaQuiz</h1>
                <h1 class="mini-text">Persona<br>Quiz!</h1>
            </a>
                    
        </div>
        
        
        <div class="right">
            <a class="lastfm button"  href="/LastfmQuiz/">
                LastFM
                <img src="{% static 'media/lastfm_logo.png' %}">
                
            </a>
            <!--
            <a class="spotify button"  href="#"> 
                Spotify
                <img src="{% static 'media/spotify_logo.png' %}">
            </a>
            -->
            <a class="steam button" href="/SteamQuiz/">
                Steam
                <img src="{% static 'media/steam_logo.png' %}">
            </a>

            <!--
            <hr style="height: 70%; border: 1px solid white;">

            <a href="#"><img src="https://images.emojiterra.com/twitter/v13.1/512px/1f1e7-1f1f7.png"></a> -->
            
        </div>
        
    </div>
    
    <div class="search-bar">
        <input type="text" id="searchBar" style="width: 30%;" placeholder="Url ou id do quiz..." >
    </div>

    
    <div class="content">
        <div class="inicial">

            {% block content %}
        

            {% endblock %}
        </div>
        <div class="aviso"><p>Aviso: esse site ainda está em construção e ainda pode ter bugs. Caso ache algum, mande uma mensagem no twitter ou discord. @CaioEmPessoa</p></div><br>
    </div>
</body>
</html>
