<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/steam_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Página Legal</title>
</head>

<body>
    <div class="header">

        <a class="home" href="../index.html">
        <img src="img/steam_logo.png">
        <h1>Quiz Maker</h1>
        </a>

        <a class="create"  href="create_quiz.html"> faça o seu!</a>
        
    </div>

    <div class="inicial">
        <div class="username">
            <p id="error", style="color:red"></p>
            <p>Coloque aqui o código do link:</p>

            <input type="text", id="quiz-id", style="width: 70%;">
        </div>

        <button id="entrar-criado" class="enviar">Entrar</button>
        
        <div class="quiz">
            <p id="teste-json"> </p>
        </div>

        <br>
        <br>
        <br>
        
    </div>


<script type="module" src="../js/read_quiz.js "></script>

</body>
</html>